ConsoleApp/Connected Services/HelloWorldService/HelloWorldService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60050/HelloWorldService.svc?xsd=xsd2" namespace="http://www.test.com/types/" />
  <xs:element name="GetTodaysData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.test.com/types/" minOccurs="0" name="request" nillable="true" type="q1:TodaysDataRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodaysDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.test.com/types/" minOccurs="0" name="GetTodaysDataResult" nillable="true" type="q2:TodaysDataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>