WebMVCApp.Tests/Connected Services/HelloWorldService/HelloWorldService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.test.com.np/types/" elementFormDefault="qualified" targetNamespace="http://www.test.com.np/types/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TodaysData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TodaysData" nillable="true" type="tns:TodaysData" />
  <xs:complexType name="ArrayOfTodaysData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TodaysData" nillable="true" type="tns:TodaysData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTodaysData" nillable="true" type="tns:ArrayOfTodaysData" />
</xs:schema>